body{
  background-repeat:no-repeat;
  background-size: cover;
  background-image: url(https://i.pinimg.com/webp/736x/fb/c7/8d/fbc78d7f985faa362f1bca67dd6f5186.webp)
}

#containerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.authDiv {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movierating{
  color:black;
  font-size: 64px;
  font-weight: 600;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display:flex;
  justify-content: center;
}

#addmoviebutton{
  font-size: 48px;
  border: #000 solid 1px;
  border-radius: 16px;
}